body{
  margin: 0;
  padding: 0;
  background-color: #242424;
}

.site-title {
  font-weight: 800;
  font-style: italic;
  font-size: 5rem;
}

.nav {
  background-color: #1a1a1a;
  font-family: 'Rubik', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.5rem;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  padding-bottom: 1.5rem;
  margin: 0;
  gap: 2rem;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;;
}

.nav a {
  height: 100%;
  display: flex;
  align-items: center;
}

.links {
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  gap: 2rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

.nav a:hover {
  color: #613aad;
}

