body{
  margin: 0;
  padding: 0;
  background-color: #242424;
}

h1,
h2 {
  color: #646cff;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-style: italic;
  text-shadow: 1px 1px 2px red, 0 0 0.2em blue;
  margin-top: 1rem;
}

h4 {
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  color: aliceblue;
  text-align: left;
  margin-left: 5rem;
}

label {
  font-family: 'Rubik', sans-serif;
}


.all-buttons {
  margin: 0.5rem;
  background-color: #613aad;
  color: aliceblue;
  font-family: 'Rubik', sans-serif;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.5rem;
  border: #1a1a1a;
  box-shadow:  2px 2px 4px black;
  text-shadow: #1a1a1a;
}

.del-btn {
  background-color: transparent;
  border: 2px rgb(173, 2, 2);
  box-shadow: 0 0 7px red;
  color: rgb(173, 2, 2);
  text-shadow: red;
  border-radius: 0.5rem;
  height: 1rem;
  width: 3rem;
  font-size: xx-small;
  margin-left: 0.75rem;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.game-card {
  width: 25rem;
  height: 33rem;
  background-image: linear-gradient(to bottom right, #1a1a1a, #646cff) ;
  box-shadow: 1px 1px 2px red, 0 0 0.2em blue;
  margin: 0.5rem;
  color: #eaefd3;
}

.gc-img {
  width: 14rem;
  margin: auto;
}

/* .basic-info {
  
} */

.site-title {
  font-weight: 800;
  font-style: italic;
  font-size: 5rem;
}

.gc-title {
  font-size: 1.5rem;
}

.basic-info,
.gc-platforms {
  font-size: 0.75rem;
}

.gc-description {
  font-size: 0.5rem;
}

.nav {
  background-color: #1a1a1a;
  font-family: 'Rubik', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.5rem;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  padding-bottom: 1.5rem;
  margin: 0;
  gap: 2rem;
  text-shadow: 1px 1px 2px red, 0 0 0.2em blue;
}

.nav a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.links {
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  gap: 2rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

.nav a:hover {
  color: #613aad;
}

.collection-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.my-game-form {
  font-family: 'Rubik', sans-serif;
}

.add-game-form {
  width: 20rem;
  margin-left: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  background-image: linear-gradient(to top left, #1a1a1a, #646cff);
  box-shadow: 5px 5px 10px black;
  color: aliceblue;
  padding: 1rem;
}

.new-item-form {
  margin-top: 5rem;
  width: 20rem;
  height: 15rem;
  padding: 2rem;
  font-size: larger;
  color: #646cff;
  text-shadow: 1px 1px 2px red, 0 0 0.2em blue;
}

.see-what-i-type {
  color: beige;
}

.my-game-list {
  width: 25rem;
  color: aliceblue;
  list-style: none;
  font-family: 'Rubik', sans-serif;
}

.wishlist-item {
  color: aliceblue;
  list-style: none;
  text-align: left;
}
